:root {
    /*Color Palette*/
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
    /*Font sizes*/
    --sm: 1.5rem;
    --md: 1.6rem;
    --xlg: 1.8rem;
    --lg: 3.2rem;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}
body {
    font-size: var(--sm);
    background-color: var(--very-light-gray);
}
/*HEADER STYLES*/
header {
    width: 100%;
    min-width: 380px;
    margin: 80px auto 60px;
    padding: 0 30px;
    color: var(--grayish-blue);
    font-size: var(--md);
    text-align: center;
}
.title {
    font-size: var(--lg);
    font-weight: 400;
}
.title--strong {
    color: var(--very-dark-blue);
    font-weight: 600;
}
.description {
    margin-top: 20px;
}
/*MAIN (CARDS CONTAINER)*/
.cards-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    color: var(--grayish-blue);
}
.card-container_card {
    position: relative;
    width: 80%;
    max-width: 340px;
    min-width: 340px;
    margin: 0 auto 40px;
    height: 240px;
    padding: 20px 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 12px 7px 20px 6px rgb(57 75 84 / 8%);
}
.card-1{
    border-top: 5px solid var(--cyan);
}
.card-2{
    border-top: 5px solid var(--red);
}
.card-3{
    border-top: 5px solid var(--orange);
}
.card-4{
    border-top: 5px solid var(--blue);
}
.card-container_card .title {
    font-size: var(--xlg);
    margin-bottom: 8px;
}
.icon {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 30px;
    margin-bottom: 30px;
}

@media (min-width: 870px) {
    .cards-container {
        display: flex;
        flex-wrap: wrap;
    }
    
}

@media (min-width: 1000px) {
    .cards-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 120px);
        row-gap: 15px;
        max-width: 1200px;
    }
    .card-1 {
        grid-column: 1/2;
        grid-row: 2/4;
    }
    .card-2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .card-3 {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .card-4 {
        grid-column: 3/4;
        grid-row: 2/4;
    }
}